/* === ROMPE el estilo limitado de Angular Material === */
.popup-fullscreen .mat-dialog-container {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  box-shadow: none !important;
  overflow: visible !important;
}

/* Fondo oscuro bonito */
.popup-backdrop {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

/* Centrar tu modal */
.modal-validar {
  margin: auto !important;
  transform: scale(1);
}
